<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat Room</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="title text-center mt-5 border-bottom">
			<h1>Chat Room</h1>
		</div>
		<div class="row mt-5">
			<div class="col-lg-5 ">
				<div class="title">	
					<h2>Create a chat room</h2>
				</div>
				<input type="text" class="form-control" id="room-name" placeholder="Room Name"><br>
				<button type="button" class="btn btn-primary btn-lg">Create</button></div>
			<div class=" offset-lg-2 col-lg-5">
				<div class="title">	
					<h2>Join a chat room</h2>
				</div>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item"><span class="roomName"> Room 1 </span><button class="btn btn-default joinRoomBtn float-right"> Join </button></li>
				  <li class="list-group-item"><span class="roomName"> Room 2 </span><button class="btn btn-default joinRoomBtn float-right"> Join </button></li>
				</ul>
				<br>
				<button type="button" class="btn btn-primary btn-lg">Join</button></div>
			</div>
		</div>
		
	</div>
</body>
</html>