<!DOCTYPE HTML>
<html>
<head>
    <title>Synchronized Sliders</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            var socket = io.connect('http://localhost:5000');

            // socket.on('connect', function() {
            //     socket.emit('connect');
            // });

            $('input.sync').on('change', function(event) {
                socket.emit('value changed', {who: $(this).attr('id'), data: $(this).val()});
                return false;
            });

            socket.on('after connect', function(msg, cb){
            	console.log('After connect', msg);
            	cb("Voila");
            })

            socket.on('update value', function(msg) {
            	console.log('Value updated');
                $('input#'+msg.who).val(msg.data)
            });

        });
    </script>
</head>
<body>
    <h1>Synchronized Sliders!</h1>

    <input id="slider1" class="sync" type="range" min="0" max="50" value="{{slider1}}" /> <br>
    <input id="slider2" class="sync" type="range" min="0" max="50" value="{{slider2}}" />

    <input id="txt1" class="sync" type="text" />

</body>
</html>